.carditem{
    width:  268px;
    height: 284px;
    border-radius: 12px;
    border: 1px solid #E0E4F0;
    padding: 20px;
    gap: 16px;
    padding-left: 20px;
}
.at{
    margin-left: 20px;
}
.buttonlist:hover{
    background: #e6f4ff !important;
}